.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.levels {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: #337ab7;
}

/* 選択時は４４４４４４ */

.level {
  margin-right: 30px;
  font-size: 22px;
  border-bottom: solid transparent 1px;
}

.level:hover {
  color: midnightblue;
  border-bottom-color: midnightblue;
}

.currentlevel {
  margin-right: 30px;
  font-size: 22px;
  color: black;
  border-bottom: solid transparent 1px;
  border-bottom-color: transparent;
}

.myinput {
  width: 60px;
  height: 22px;
}

.customs {
  position: relative;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 21px;
}

.myspancustoms {
  margin-right: 30px;
}

.backgroundboard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 400px;
  margin-left: 20px;
  background-color: #c6c6c6;
  border: 4px solid;
  border-color: #fff gray gray #fff;
}

.optionbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 56px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 4px solid;
  border-color: gray #fff #fff gray;
}

.leftbomb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 39px;
  margin-left: 10px;
  font-size: xx-large;
  border: 4px solid blue;
}

.iconsmile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  margin-right: 20px;
  margin-left: 20px;
  vertical-align: middle;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #c6c6c6;
  background-position: -330px;
  border: 4px solid;
  border-color: #fff gray gray #fff;
}

.iconbad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  margin-right: 20px;
  margin-left: 20px;
  vertical-align: middle;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #c6c6c6;
  background-position: -390px;
  border: 4px solid;
  border-color: #fff gray gray #fff;
}

.time {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 60px;
  height: 39px;
  font-size: xx-large;
  border: 4px solid blue;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 248px;
  height: 248px;
  margin-bottom: 30px;
  border: 4px solid;
  border-color: gray #fff #fff gray;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  /* background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #c6c6c6;

  border: 2px solid gray; */
}

.covered {
  width: 30px;
  height: 30px;
  background-color: #c6c6c6;
  border: 4px solid;
  border-color: #fff gray gray #fff;
}

.empty {
  width: 30px;
  height: 30px;
  background-color: #c6c6c6;
  border: 2px solid gray;
}

.nums {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #c6c6c6;
  border: 2px solid gray;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #c6c6c6;
  background-position: -167px;
  background-size: 294px, 21px;
  border: 4px solid;
  border-color: #fff gray gray #fff;
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #c6c6c6;
  background-position: -188px;
  background-size: 294px, 21px;
  border: 4px solid;
  border-color: #fff gray gray #fff;
}

.bomb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #c6c6c6;
  background-position: -238px;
  background-size: 336px, 24px;
  border: 2px solid gray;
}

.bombfired {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-color: #f00;
  background-position: -238px;
  background-size: 336px, 24px;
  border: 2px solid #f00;

  /* background:
      linear-gradient(rgb(255 0 0 / 50%), rgb(255 0 0 /50%)), url('~/src/assets/images/icons.png'); */

  /* background-size: cover; */

  /* background-blend-mode: multiply; */
}

/*
.question {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position: -240px;
  border: 1px solid black;
}

.flag {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position: -270px;
  border: 1px solid black;
}

.bom {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position: -300px;
  border: 1px solid black;
} */
