.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;

  /* align-items: center;
  justify-content: center; */
  width: 240px;
  height: 240px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.covered {
  width: 30px;
  height: 30px;
  background-color: dimgray;
}

.empty {
  width: 30px;
  height: 30px;
  background-color: gray;
}

.opened {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position: -30px;
  border: 1px solid black;
}

/*
.question {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position: -240px;
  border: 1px solid black;
}

.flag {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position: -270px;
  border: 1px solid black;
}

.bom {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
  background-position: -300px;
  border: 1px solid black;
} */
